<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <script src="script.js"></script>
        <title> </title>
        <nav>
            <ul>
                <li>Nav 1</li>
                <li>Nav 2</li>
                <li>Nav 3</li>
                <li>Nav 4</li>
            </ul>
        </nav>
    </head>
    <body>
        <div id="centered">
            <p>Centered</p>
        </div>
        <div id="bottom-boxes">
            <div class="boxes">
                <p>1</p>
            </div>
            <div class="boxes">
                <p>2</p>
            </div>
            <div class="boxes">
                <div class="mini-boxes">
                    <p>3</p>
                </div>
                <div class="mini-boxes">
                    <p>4</p>
                </div>
            </div>
        </div>
    </body>
</html>